---
layout: default
---

{% include status_lucid.html %}

<div class="archive-section">
    <h2 class="archive-year-heading" id="heading-2025">
        Stories from 2025

        <button
            class="toggle-button"
            aria-expanded="true"
            aria-controls="posts-2025"
        >
            <span class="plus-icon">+</span>

            <span class="minus-icon">-</span>
        </button>
    </h2>

    <div id="posts-2025" class="post-year-group">
        {% assign current_year_string = "now" | date: "%Y" %} {% for post in
        site.posts %} {% assign post_year_string = post.date | date: "%Y" %} {%
        if post_year_string == current_year_string %}
        <div class="archive-post-list-item">
            <h3>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <time>
                {{ post.date | date: "%b %-d, %Y" }} {% if post.word_count %}
                <span class="index-word-count">
                    • Word Count: <strong>{{ post.word_count }}</strong></span
                >
                {% endif %}
            </time>
            {% if post.excerpt %}
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            {% endif %}
        </div>
        {% endif %} {% endfor %}
    </div>
</div>

<div class="archive-section">
    <h2 class="archive-year-heading" id="heading-2024">
        Stories from 2024

        <button
            class="toggle-button"
            aria-expanded="false"
            aria-controls="posts-2024"
        >
            <span class="plus-icon">+</span>

            <span class="minus-icon">-</span>
        </button>
    </h2>

    <div id="posts-2024" class="post-year-group" style="display: none">
        {% for post in site.posts %} {% assign post_year_string = post.date |
        date: "%Y" %} {% if post_year_string == "2024" %}
        <div class="archive-post-list-item">
            <h3>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <time>
                {{ post.date | date: "%b %-d, %Y" }} {% if post.word_count %}
                <span class="index-word-count">
                    • Word Count: <strong>{{ post.word_count }}</strong></span
                >
                {% endif %}
            </time>
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>

<div class="archive-section">
    <h2 class="archive-year-heading" id="heading-2023">
        Stories from 2023

        <button
            class="toggle-button"
            aria-expanded="false"
            aria-controls="posts-2023"
        >
            <span class="plus-icon">+</span>

            <span class="minus-icon">-</span>
        </button>
    </h2>

    <div id="posts-2023" class="post-year-group" style="display: none">
        {% for post in site.posts %} {% assign post_year_string = post.date |
        date: "%Y" %} {% if post_year_string == "2023" %}
        <div class="archive-post-list-item">
            <h3>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <time>
                {{ post.date | date: "%b %-d, %Y" }} {% if post.word_count %}
                <span class="index-word-count">
                    • Word Count: <strong>{{ post.word_count }}</strong></span
                >
                {% endif %}
            </time>
            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>

<div class="fifty-word-promo">
    <p>
        Stepping outside my comfort zone, I began sharing Fifty-Words flash
        fiction on Twitter back in 2012. If you enjoy quick reads that pack a
        punch, be sure to explore these bite-sized stories.
    </p>
    <p class="button-container">
        <a href="https://ss.lucidillusions.in/fiftyfive/" class="button"
            >Read My Fifty-Word Flash Fiction Now!</a
        >
    </p>
</div>

<span class="h-card">
    <a href="https://ss.lucidillusions.in/" class="u-url u-uid">
        Short Stories by Lucid Illusions
    </a>

    <span class="p-name">Short Stories by Lucid Illusions</span>

    <img class="u-photo" src="assets/images/Logo_Bsky_SS.png" />

    <p class="p-note">
        A federated account for the website which will compile most short
        stories that I've written
    </p>
</span>
