<footer>
    <p>&copy; 2023 - {{ site.time | date: "%Y" }} Stories by <a href="https://bsky.app/profile/lucidillusions.in" rel="me">Lucid Illusions</a> | <a href="https://github.com/lucidillusions" rel="me" title="GitHub"><i class="fa-brands fa-github"></i></a> | <a href="{{ "/feed.xml" | relative_url }}" title="RSS Feed"><i class="fa-solid fa-rss"></i></a> | <a href="https://bsky.app/profile/ss.lucidillusions.in" rel="me" title="BlueSky"><i class="fa-brands fa-bluesky"></i></a></p>

    {% if site.data.visitor_count.total_visitors %}
        <p>{{ site.data.visitor_count.total_visitors }} souls have been to the Lost Alley.</p>
    {% else %}
        <p>Gathering the wandering souls of the Lost Alley...</p>
    {% endif %}

</footer>
