<header class="site-header">
    <div class="header-wrapper">
        <div class="site-branding">
            <a class="site-title" href="{{ "/" | relative_url }}">
                <img src="/assets/images/logo.png" alt="Logo" class="site-logo">
            </a>
            <div class="site-description">
            </div>
        </div>

        <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="site-nav">
            <ul class="nav-links">
                <li class="nav-item">
                    <a class="page-link" href="{{ "/blog/" | relative_url }}">Blogs</a>
                </li>

                <li class="nav-item">
                    <a class="page-link" href="{{ "/" | relative_url }}">Short Stories</a></li>

                <li class="dropdown nav-item">
                    <a class="page-link dropbtn" href="#" onclick="myFunction()">Buy E-book <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-content">
                        <li><a href="https://ko-fi.com/s/d33c50d04d" target="_blank" rel="noopener noreferrer">on Ko-Fi</a></li>
                        <li><a href="https://www.amazon.com/dp/B0F7HGSGCF" target="_blank" rel="noopener noreferrer">for Kindle</a></li>
                        <li><a href="https://books2read.com/b/mgB2Nq" target="_blank" rel="noopener noreferrer">Other Store</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
