<!doctype html>
<html>
    <head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    Updates to the Website
  </title>

  <link rel="stylesheet" href="/css/main.css">
  <link
    rel="canonical"
    href="https://ss.lucidillusions.in/blog/2025-05-23-siteupdates/"
  />

   <link rel="stylesheet" href="/assets/node_modules/bluesky-comments/dist/bluesky-comments.css">


   <script type="importmap">
     {
       "imports": {
         "react": "https://esm.sh/stable/react@18.2.0/es2022/react.mjs",
         "react-dom": "https://esm.sh/stable/react-dom@18.2.0/es2022/react-dom.mjs"
       }
     }
    </script>


  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Muli:400,300"
    rel="stylesheet"
    type="text/css"
  />

  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" href="/assets/images/favicon.ico">

  <script src="https://kit.fontawesome.com/a2ede34d14.js" crossorigin="anonymous"></script>

  <link rel="dns-prefetch" href="https://webmention.io"><link rel="preconnect" href="https://webmention.io"><link rel="preconnect" href="ws://webmention.io:8080">

  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Short Stories by Lucid Illusions">

  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-61GWSJVEWN"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-61GWSJVEWN");
</script>

</head>


    <body>
        <header class="site-header">
    <div class="header-wrapper">
        <div class="site-branding">
            <a class="site-title" href="/">
                <img src="/assets/images/logo.png" alt="Logo" class="site-logo">
            </a>
            <div class="site-description">
            </div>
        </div>

        <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="site-nav">
            <ul class="nav-links">
                <li class="nav-item">
                    <a class="page-link" href="/blog/">Blogs</a>
                </li>

                <li class="nav-item">
                    <a class="page-link" href="/">Short Stories</a></li>

                <li class="dropdown nav-item">
                    <a class="page-link dropbtn" href="#" onclick="myFunction()">Buy E-book <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-content">
                        <li><a href="https://ko-fi.com/s/d33c50d04d" target="_blank" rel="noopener noreferrer">on Ko-Fi</a></li>
                        <li><a href="https://www.amazon.com/dp/B0F7HGSGCF" target="_blank" rel="noopener noreferrer">for Kindle</a></li>
                        <li><a href="https://books2read.com/b/mgB2Nq" target="_blank" rel="noopener noreferrer">Other Store</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

        <main>
            <article><article>
    <h2>Updates to the Website</h2>
    <time datetime="2025-05-23T18:39:03+05:30"
        >May 23, 2025 • Lucid Illusions</time
    >
    
    <time
        class="updated-on"
        datetime="2025-06-22T15:30:00+05:30"
    >
        (Updated on Jun 22, 2025)
    </time>
     <p>I’ve been using this site to compile my stories for a long time, and for just as long I’ve been meaning to learn more of Jekyll to add features and fix things. This week I had enough time to just focus on updating the website, and the first thing I did was add the blog section! I kind of like the idea of having a personal space to put brain dump (soemtimes online to keep it in sight for me) - and having a blog used to help, ages back.</p>

<p>So here we are, there’s a blog section now, and it’s not too bad for starters.</p>

<p>Now on to some of the other things I tinkered on here.</p>

<ol>
  <li>When Ryan started publicly sharing updates to bridgy accounts, I felt web-bridge was a cool idea. I was hoping that each story I put up would end up as a new post, and I could then quote and share it. I got the account built, and I updated the handle to look nice, and I just couldn’t set up the rss properly to trigger the bridgy accounts post. So this week, I at least managed to get the Mastodon instance to show some of the recent stories. That’s some sort of a win I suppose.
    <ul>
      <li>Still need to figure how to make the posts show up on Bsky side of the bridge (I might try and reset the handle to fix it like I had to do for pixelfed)</li>
    </ul>
  </li>
  <li>
    <p>I wanted to figure out how to do webmentions, I find the idea very fascinating. I currently have it functional to some extent, but for now I’ll put it under WIP as well.</p>
  </li>
  <li>I had a very simple landing page, which was a very long listicle of all the stories I’ve posted. I sat and updated this to break them based on year, and a toggle setting to see the list. It also has excerpt show up, which I like how it looks. For now I think this is complete, unless I can think of other options.
    <ul>
      <li>I also went ahead and added a category to each story, and when you click on the category it opens a different page with an introduction to the category and list of stories that fall under those.</li>
    </ul>
  </li>
  <li>
    <p>I also wanted to add BlueSky comments to pop up as post comments on the site, and thanks to Franny’s <a href="https://librarifran.com/posts/2025/02/05/bluesky-comments.html">post</a> I could set it up for my site too. Go ahead scroll down, see the replies, and if you’re on bluesky leave a comment on the post to see it show up on the blog.</p>
  </li>
  <li>Do you remember how we used to have status update during the old internet? I’m so glad Dame brought it back to bsky, and honestly I love that so many users have started an alt that just posts their status. You should check out <a href="https://bsky.app/profile/did:plc:gq4fo3u6tqzzdkjlwzpb23tj/lists/3loy6eehhef2k">this feed</a>, and if you want to read more, check <a href="https://dame.is/writing/blogs/why-i-started-posting-like-its-the-2000s-again/">Dame’s blog post about it</a>.
    <ul>
      <li>Another thing I noticed was their status pops up on their website, and I’ve managed to add that to the landing page as well. (I still need to get the automation work right, so another WIP there)</li>
    </ul>
  </li>
</ol>

<p>Anyway, more or less it was a productive week with fixing this website, and have a bunch of other ideas that I want to incorporate here. In the meanwhile, go read some of my recent stories!</p>

<h3 id="new-additions-june-15-2025">New additions (June 15, 2025)</h3>

<ol>
  <li>
    <p>There has been an update on the header, I like how the new one looks and feel.</p>
  </li>
  <li>
    <p>The stories now show Word count and read time.</p>
  </li>
  <li>
    <p>Added an ‘Updated on’ section for blogs.</p>
  </li>
</ol>

<h3 id="new-additions-june-19-2025">New additions (June 19, 2025)</h3>

<ol>
  <li>
    <p>Changed the theme to Catppuccin Latte (light mode) and Mocha (dark mode).</p>
  </li>
  <li>
    <p>Added a floating theme toggle button.</p>
  </li>
  <li>
    <p>Added image related features for the blog.</p>
  </li>
</ol>
<hr />

<h3 id="new-additions-june-22-2025">New additions (June 22, 2025)</h3>

<ol>
  <li>
    <p>Added a suggestion block under the story. This suggests stories with-in same category. There’s also a self promotion for patreon, kofi etc.</p>
  </li>
  <li>
    <p>Added a link on landing page to promote 55 words story page.</p>
  </li>
</ol>

<h3 id="quick-notes-for-future-reference-june-17-2025">Quick Notes for Future Reference. (June 17, 2025)</h3>

<ul>
  <li>GitHub action and PAT.
    <ol>
      <li>Received an email: We noticed your personal access token (classic) <insert name=""> with repo and workflow scopes will expire in 7 days.</insert></li>
      <li>Clicked on the tokens/number/regenerate link in the email.</li>
      <li>Note on the page “Submitting this form will generate a new token. Be aware that any scripts or applications using this token will need to be updated.”</li>
      <li>Selected 90 days expiration</li>
      <li>Clicked on Regenerate Token button</li>
      <li>Found a new token on top (copied it)</li>
      <li>Went to settings &gt; secrets &gt; actions and pasted the above token to the required secret.</li>
      <li>Manually run the action.</li>
    </ol>
  </li>
</ul>
 

    <hr />

    
    <section class="post-comments">
        <h3>Online Discussions</h3>
        <div id="page__comments" style="min-height: 100px">
    <div id="loading">Loading comments...</div>
</div>

<script type="module">
    try {
        const modules = await Promise.all([
            // React and ReactDOM are fetched from a CDN (esm.sh)
            import("https://esm.sh/stable/react@18.2.0/es2022/react.mjs"),
            import(
                "https://esm.sh/stable/react-dom@18.2.0/es2022/react-dom.mjs"
            ),
            // bluesky-comments is loaded from your local assets/node_modules
            import(
                "/assets/node_modules/bluesky-comments/dist/bluesky-comments.es.js"
            ),
        ]);

        const [React, ReactDOM, BlueskyCommentsModule] = modules;
        const BlueskyComments = BlueskyCommentsModule.BlueskyComments;

        const container = document.getElementById("page__comments");
        // The URI for the BlueSky post, pulled from your post's front matter
        const uri = "https://bsky.app/profile/lucidillusions.in/post/3lpubhbuvek26";

        if (container) {
            const root = ReactDOM.createRoot(container);
            const element = React.createElement(BlueskyComments, {
                uri,
                // !!! IMPORTANT: REPLACE YOUR.USERNAME.HERE.bsky.social with your actual BlueSky handle !!!
                author: "lucidillusions.in",
                showLogin: true,
                onLoad: () => document.getElementById("loading")?.remove(),
            });

            root.render(element);
        }
    } catch (error) {
        console.error("Error loading comments:", error);
        document.getElementById("page__comments").innerHTML =
            `<div style="color: red;">Unable to load comments. Please try again later.</div>`;
    }
</script>

    </section>
    

    <hr />

    

    <div class="post-navigation">
        <div class="prev">
            
            <a
                href="/blog/2025-05-22-may2025/"
                title="Previous: How has May shaped up"
            >
                <i class="fa-solid fa-circle-chevron-left"></i>
                How has May shaped up
            </a>
            
        </div>

        <div class="next">
            
            <a
                href="/blog/2025-05-31-thoughts/"
                title="Next: Some Thoughts about AI & Writing"
            >
                Some Thoughts about AI & Writing
                <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
            
        </div>
    </div>
    <div id="imageModal" class="modal">
        <span class="close-button">&times;</span>
        <img class="modal-content" id="modalImage" />
        <div id="modalCaption" class="caption"></div>
    </div>
</article>
</article>
        </main>

        <footer>
    <p>&copy; 2023 - 2025 Stories by <a href="https://bsky.app/profile/lucidillusions.in" rel="me">Lucid Illusions</a> | <a href="https://github.com/lucidillusions" rel="me" title="GitHub"><i class="fa-brands fa-github"></i></a> | <a href="/feed.xml" title="RSS Feed"><i class="fa-solid fa-rss"></i></a> | <a href="https://bsky.app/profile/ss.lucidillusions.in" rel="me" title="BlueSky"><i class="fa-brands fa-bluesky"></i></a></p>

    
        <p>2881 souls have been to the Lost Alley.</p>
    

</footer>


        <button id="floating-theme-toggle" aria-label="Toggle dark mode">
            <i class="fa-regular fa-sun" id="theme-icon-sun"></i>
            <i
                class="fa-regular fa-moon"
                id="theme-icon-moon"
                style="display: none"
            ></i>
        </button>

        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <script>
            kofiWidgetOverlay.draw("lucidillusions", {
                type: "floating-chat",
                "floating-chat.donateButton.text": "Support me",
                "floating-chat.donateButton.background-color": "#00b9fe",
                "floating-chat.donateButton.text-color": "#fff",
            });
        </script>

        <script src="/js/JekyllWebmentionIO.js" async></script>
<template style="display:none" id="webmention-bookmarks"><div class="webmentions webmentions--bookmarks">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No bookmarks were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-likes"><div class="webmentions webmentions--likes">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No likes were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-links"><div class="webmentions webmentions--links">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No links were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-posts"><div class="webmentions webmentions--posts">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <a class="webmention__title webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">{{ webmention.title }}</a>
          <div class="webmention__meta">
            {% if webmention.pubdate %}
              <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No posts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-replies"><div class="webmentions webmentions--replies">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">
                {% if webmention.author.photo %}
                  <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                {% endif %}
                <b class="p-name">{{ webmention.author.name }}</b>
              </a>
            {% endif %}
            {% if webmention.pubdate and webmention.author %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No replies were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-reposts"><div class="webmentions webmentions--reposts">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No reposts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-rsvps"><div class="webmentions webmentions--rsvps">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="Avatar for {{ webmention.author.name }}" title="{{ webmention.author.name }}">
              <b class="p-name">{{ webmention.author.name }}</b>
              {{ webmention.content }}
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No RSVPs were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-count">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<span class="webmention-count"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>{{ count }}</span></template><template style="display:none" id="webmention-webmentions">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<div class="webmentions"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          <article class="h-cite webmention webmention--{{ webmention.type }}
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            {% if webmention.source=='twitter' %}{% if webmention.type=='like' or webmention.type=='repost' %}webmention--author-starts{% endif %}{% endif %}
            ">
            {% if webmention.author %}
              <div class="webmention__author p-author h-card">
                <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
                  {% if webmention.author.photo %}
                    <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                  {% endif %}
                  <b class="p-name">{{ webmention.author.name }}</b>
                </a>
              </div>
            {% endif %}

            <div class="webmention__content p-content">
              {% if webmention.content %}
                {{ webmention.content }}
              {% else %}
                {{ webmention.title }}
              {% endif %}
            </div>
            
            <div class="webmention__meta">
              {% if webmention.pubdate %}
                <time class="webmention__pubdate dt-published"
                      datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              {% endif %}
              {% if webmention.pubdate and webmention.url %}|{% endif %}
              {% if webmention.url %}
                <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">Permalink</a>
              {% endif %}
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div></template>
        <script src="/assets/js/theme-toggle.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
