<!doctype html>
<html>
    <head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    Creative Journey of Story Telling
  </title>

  <link rel="stylesheet" href="/css/main.css">
  <link
    rel="canonical"
    href="https://ss.lucidillusions.in/blog/2025-09-11-journey/"
  />

   <link rel="stylesheet" href="/assets/node_modules/bluesky-comments/dist/bluesky-comments.css">


   <script type="importmap">
     {
       "imports": {
         "react": "https://esm.sh/stable/react@18.2.0/es2022/react.mjs",
         "react-dom": "https://esm.sh/stable/react-dom@18.2.0/es2022/react-dom.mjs"
       }
     }
    </script>


  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Muli:400,300"
    rel="stylesheet"
    type="text/css"
  />

  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" href="/assets/images/favicon.ico">

  <script src="https://kit.fontawesome.com/a2ede34d14.js" crossorigin="anonymous"></script>

  <link rel="dns-prefetch" href="https://webmention.io"><link rel="preconnect" href="https://webmention.io"><link rel="preconnect" href="ws://webmention.io:8080">

  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Short Stories by Lucid Illusions">

  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-61GWSJVEWN"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-61GWSJVEWN");
</script>

</head>


    <body>
        <header class="site-header">
    <div class="header-wrapper">
        <div class="site-branding">
            <a class="site-title" href="/">
                <img src="/assets/images/logo.png" alt="Logo" class="site-logo">
            </a>
            <div class="site-description">
            </div>
        </div>

        <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="site-nav">
            <ul class="nav-links">
                <li class="nav-item">
                    <a class="page-link" href="/blog/">Blogs</a>
                </li>

                <li class="nav-item">
                    <a class="page-link" href="/">Short Stories</a></li>

                <li class="dropdown nav-item">
                    <a class="page-link dropbtn" href="#" onclick="myFunction()">Buy E-book <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-content">
                        <li><a href="https://ko-fi.com/s/d33c50d04d" target="_blank" rel="noopener noreferrer">on Ko-Fi</a></li>
                        <li><a href="https://www.amazon.com/dp/B0F7HGSGCF" target="_blank" rel="noopener noreferrer">for Kindle</a></li>
                        <li><a href="https://books2read.com/b/mgB2Nq" target="_blank" rel="noopener noreferrer">Other Store</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

        <main>
            <article><article>
    <h2>Creative Journey of Story Telling</h2>
    <time datetime="2025-09-11T11:50:03+05:30"
        >Sep 11, 2025 • Lucid Illusions</time
    >
     <p>I’ve often mentioned my long history of (attempt at) writing, so I thought I’d share one of my first poems. I still have access to it, and it was inspired by one of my favourite books as a kid, <a href="https://amzn.to/469EVM5">“Who moved My Cheese?”</a> I was about 14 years old at the time.</p>

<details>
  <summary>Click here to read 'Scutt and Scurry'</summary>
  <p>
  Once Upon a time,<br />
  There lived two mice.<br />
  One was Scutt, the other Scurry,<br />
  Both of them, always in a hurry.<br />
  <br />
  Their friendship was a wonder;<br />
  Though each bore a different savor.<br />
  Scutt believed in 'we',<br />
  Scurry always said 'me'.<br />
  <br />
  One Day some cheese, found Scurry,<br />
  Gobbled it all in a hurry.<br />
  Back to the hole he went,<br />
  Which the two, held on rent.<br />
  <br />
  There he saw, Scutt asleep,<br />
  Lost In, some thought, deep.<br />
  Scurry's eyes grew bright,<br />
  When to his delight,<br />
  He saw more of some lovely cheese,<br />
  In front of Scutt, who slept with ease.<br />
  <br />
  Without a thought, he jumped,<br />
  And soon landed on the lump.<br />
  The cheese was all gone,<br />
  Now, for Scutt, 'twas dawn'.<br />
  Who was up with a yawn,<br />
  And looked for the cheese that was gone.<br />
  <br />
  Good, you ate it, I saved it for you,<br />
  His love for Scurry, was surely true.<br />
  Scurry didn't know what to say,<br />
  As he had his eyes opened that day. <br />
  </p>
</details>

<p>Back then, a part of me felt I would be great at creating art through collaboration. I’m not sure if it was <a href="https://ss.lucidillusions.in/blog/2025-09-02-IS/">Impostor Syndrome</a> from being surrounded by incredibly talented classmates, or if the idea of creating something truly great always felt like a collaborative effort. That perfect balance seems even more daunting than creating the perfect piece of art alone before sharing it with the world. Over the years, I wrote a bunch of angsty poems and shared them online in a forum. Even now, I try to write short poems and recently sent out haikus for a contest. Here is one of them:</p>

<p><strong>
Summer heat beats down,<br />
Tigers cool in water hole,<br />
Far away deer call.<br />
</strong></p>

<p>But I’m getting ahead of myself. Let’s go back to my teenage self who realised he had stories to tell and wanted to create new worlds. He didn’t find much support from his parents. There was always an undertone of, “This is nice, but you’re wasting your time. You should focus on STEM since you need to be a doctor or an engineer,” which is what every Desi parent wants their kids to be. I would still write short poems and even try writing some songs. Sadly, I don’t have access to most of these things anymore.</p>

<p>I must also add that while I was growing up, something I really enjoyed was being behind the camera. I’m not sure if it had more to do with a lack of self-love and not wanting to be in front of one, or just the idea of getting to capture a moment or a memory in time to tell a story. I do feel subconsciously I might have always enjoyed being the person helping to create the vision.</p>

<p>When I left Delhi for my undergraduate degree in Chemical Engineering, while the science part was interesting, I found more internet friends who were writing and role-playing in forums. This was one of the first times I felt comfortable creating, and the idea of collaborating to create even small pieces of art was solidified. Over the years, I had interactions with other students and was part of experiences that felt like great stories. I truly enjoyed narrating them. The more time I spent with science, the more I felt it should have been a hobby for me and not a mainstream career option. During the latter half of my degree, I could borrow point-and-shoot digital cameras from friends for short class trips. It reminded me how much I used to enjoy photography and how I had always wanted to have an SLR, which was really expensive growing up, especially with the limitation and expense of film photography.</p>

<h3 id="the-beginning-of-my-creative-career">The Beginning of My Creative Career</h3>

<p>While all of my classmates were looking to get a job, I realised the engineering-related roles being offered weren’t for me. I still wasn’t sure what I wanted to do, so I felt the next best option was to pursue a higher degree. As I got into my PhD and started receiving a scholarship, I made sure I’d save a portion of it so I could buy myself a DSLR. One of the releases I was excited for in 2011 was Nikon’s D7000. I saved up whatever I could and picked it up. It definitely created an interesting fork in my life. I always feel that one decision saved me from a short life full of annoyance and possible depression, to put it mildly.</p>

<p>I loved shooting events, gigs, and food because I felt it all told a story. You can see some of <a href="https://oldsite.lucidillusions.in/">my old work on my website</a> — it needs to be reworked, any day now. As I started taking photographs, I slowly began experimenting with videos. While I would get some help from friends to edit them, I decided to learn how to edit pretty soon. It again felt like another way to express a story that might have already been written by someone else.</p>

<p>I’d like to share some of the videos I’ve worked on and am quite proud of.</p>

<iframe src="https://player.vimeo.com/video/224224643?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="480" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="Are We Where We Want To Be? - Mohit Mukhi Trio"></iframe>

<p>I worked on this video for a friend, a local singer-songwriter, and I truly appreciate his work and listen to his music often. When I first listened to this track, I had a vision, but I wasn’t sure how to pull it off. Then an idea struck me. I went to <a href="https://archive.org/donate?origin=iawww-TopNavDonateButton">archive.org</a> and started looking through archival footage. It was pretty much looking for a needle in a haystack when you didn’t even know what the needle looked like. However, I was able to shortlist a lot of footage and create something special: a war veteran reminiscing about his life’s journey and writing his story.</p>

<iframe src="https://player.vimeo.com/video/165924388?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="480" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" referrerpolicy="strict-origin-when-cross-origin" title="David Meowie - Tattoo"></iframe>

<p>I’ve also learned pretty early that sometimes it’s best to hold something back. When I first edited this video of me getting my tattoo, I was pretty impressed that I could shoot the whole thing (handheld) while getting the tattoo done on my left arm. So, I felt like I wanted to add more and more of the visuals. I also ended up finding a Bowie track cover that I could use for free, and the loop made it seem interesting to me back then. But when I revisit the video now, I feel like I want to redo it and cut it to be more sleek and fast.</p>

<p>One of my work that I was very proud to be part of was a short film, “Ajay (2018),” which went to a few festivals and also won some awards. It’s also the only project that got me a mention on <a href="https://www.imdb.com/name/nm10575867/bio/">IMDB</a>, and that’s a high I often think about. I definitely want to work on creating more stories that can travel to festivals, not just as an editor, but hopefully by writing and directing as well. So if you are looking to create something for festivals, you can reach out to me.</p>

<p>Over the years, I have managed to shoot and edit a lot of events (<a href="https://www.youtube.com/playlist?list=PLm-fNHehh3CBC4XIOQyTQrgmMo07cL-dy">and you can watch it on youtube</a>). The most important takeaway has always been how to tell a story most effectively. While working with clients, you also have to help bring out their vision above what you want to tell, and that’s a part of storytelling I’m still getting used to.</p>

<h3 id="the-journey-continues">The Journey Continues</h3>

<iframe width="480" height="270" src="https://www.youtube.com/embed/AU4lxUkdKQc?si=-YR2iHUJFaGZWJBH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>

<p>Fast-forward to last year, I got to work on a video for the Godrej DEI Lab, and it is one of my favourite works. One of the main reasons is the amount of footage I had to work with. This video was meant to tell a lot of their history without making it sound boring, condensing years of footage and events down to approximately 10 minutes. I had to scrub through nearly 200GB of data from the past decade and multiple events to stitch together a story. It definitely had a lot of challenges, and it taught me a bunch of new tricks and how to tell stories more effectively.</p>

<p>Honestly, the last few years I’ve managed to focus on storytelling, and I keep trying to write more stories. I’ve also recently joined a screenwriting class which has, in the last month, taught me a lot more about how to tell a story effectively than anything else.</p>

<p>So if you’re still reading this, thank you for following my journey and my thoughts, and for reading this somewhat self-congratulatory rambling. These are the times when one needs to remind themselves that they are not so bad, especially on days when no new work is coming in or when a lot of work talk fizzles out. Anyway, thank you for reading, and if you watched the videos, thank you for that, too. I hope you stay with me on this journey as I continue to write and create more and more work, and as I put in my best to always improve!</p>

<hr />

<h3 id="support-me">Support Me</h3>
<p>If you’d like to pick up “The Forgotten Alley” e-book, you can check <a href="https://www.amazon.com/dp/B0F7HGSGCF">Amazon</a> or any <a href="https://books2read.com/u/mgB2Nq">other store</a> that you prefer. You can also <a href="https://ko-fi.com/lucidillusions">support me on Ko-Fi</a> or <a href="patreon.com/lucidillusions">Patreon</a>. I’m currently trying to reach 25 members on Patreon, and if you follow me there, you also get access to a special discount code for <a href="https://www.patreon.com/posts/are-you-looking-138221022">Darkroom</a> to order some <a href="https://lucidillusions.darkroom.com/">photo prints!</a></p>

<p>Also check out <a href="https://www.inprnt.com/gallery/lucidillusions/">INPRNT for art prints</a>, and <a href="https://www.redbubble.com/people/lucidillusions/shop">RedBubble for moore art merch options</a>. Want to commission me to design movie posters, or write stories that you can gift to someone? Just <a href="mailto:i@lucidillusions.in">drop me a mail</a>. Every bit helps me make rent and cover utilities for next month.</p>

<hr />

<p>p.s. In keeping with the theme of storytelling, particularly the visual kind, I want to share a short film: <a href="https://www.youtube.com/watch?v=bwjffAwk7G4">“Have You Seen Him?”</a>
I recently watched and felt very inspired to focus on writing some stories that are not just speculative fiction, but more literary oriented, so I can develop that into a short film.</p>
 

    <hr />

    
    <section class="post-comments">
        <h3>Online Discussions</h3>
        <div id="page__comments" style="min-height: 100px">
    <div id="loading">Loading comments...</div>
</div>

<script type="module">
    try {
        const modules = await Promise.all([
            // React and ReactDOM are fetched from a CDN (esm.sh)
            import("https://esm.sh/stable/react@18.2.0/es2022/react.mjs"),
            import(
                "https://esm.sh/stable/react-dom@18.2.0/es2022/react-dom.mjs"
            ),
            // bluesky-comments is loaded from your local assets/node_modules
            import(
                "/assets/node_modules/bluesky-comments/dist/bluesky-comments.es.js"
            ),
        ]);

        const [React, ReactDOM, BlueskyCommentsModule] = modules;
        const BlueskyComments = BlueskyCommentsModule.BlueskyComments;

        const container = document.getElementById("page__comments");
        // The URI for the BlueSky post, pulled from your post's front matter
        const uri = "https://bsky.app/profile/lucidillusions.in/post/3lyknbevarc2x";

        if (container) {
            const root = ReactDOM.createRoot(container);
            const element = React.createElement(BlueskyComments, {
                uri,
                // !!! IMPORTANT: REPLACE YOUR.USERNAME.HERE.bsky.social with your actual BlueSky handle !!!
                author: "lucidillusions.in",
                showLogin: true,
                onLoad: () => document.getElementById("loading")?.remove(),
            });

            root.render(element);
        }
    } catch (error) {
        console.error("Error loading comments:", error);
        document.getElementById("page__comments").innerHTML =
            `<div style="color: red;">Unable to load comments. Please try again later.</div>`;
    }
</script>

    </section>
    

    <hr />

    

    <div class="post-navigation">
        <div class="prev">
            
            <a
                href="/blog/2025-09-02-IS/"
                title="Previous: Writing with my Impostor Syndrome"
            >
                <i class="fa-solid fa-circle-chevron-left"></i>
                Writing with my Impostor Syndrome
            </a>
            
        </div>

        <div class="next">
            
            <a
                href="/blog/2025-09-19-disappointment/"
                title="Next: Disappointment"
            >
                Disappointment
                <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
            
        </div>
    </div>
    <div id="imageModal" class="modal">
        <span class="close-button">&times;</span>
        <img class="modal-content" id="modalImage" />
        <div id="modalCaption" class="caption"></div>
    </div>
</article>

<script src="/assets/js/carousel.js"></script>
</article>
        </main>

        <footer>
    <p>&copy; 2023 - 2026 Stories by <a href="https://bsky.app/profile/lucidillusions.in" rel="me">Lucid Illusions</a> | <a href="https://github.com/lucidillusions" rel="me" title="GitHub"><i class="fa-brands fa-github"></i></a> | <a href="/feed.xml" title="RSS Feed"><i class="fa-solid fa-rss"></i></a> | <a href="https://bsky.app/profile/ss.lucidillusions.in" rel="me" title="BlueSky"><i class="fa-brands fa-bluesky"></i></a></p>

    
        <p>3486 souls have been to the Lost Alley.</p>
    

</footer>


        <button id="floating-theme-toggle" aria-label="Toggle dark mode">
            <i class="fa-regular fa-sun" id="theme-icon-sun"></i>
            <i
                class="fa-regular fa-moon"
                id="theme-icon-moon"
                style="display: none"
            ></i>
        </button>

        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <script>
            kofiWidgetOverlay.draw("lucidillusions", {
                type: "floating-chat",
                "floating-chat.donateButton.text": "Support me",
                "floating-chat.donateButton.background-color": "#00b9fe",
                "floating-chat.donateButton.text-color": "#fff",
            });
        </script>

        <script src="/js/JekyllWebmentionIO.js" async></script>
<template style="display:none" id="webmention-bookmarks"><div class="webmentions webmentions--bookmarks">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No bookmarks were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-likes"><div class="webmentions webmentions--likes">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No likes were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-links"><div class="webmentions webmentions--links">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No links were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-posts"><div class="webmentions webmentions--posts">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <a class="webmention__title webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">{{ webmention.title }}</a>
          <div class="webmention__meta">
            {% if webmention.pubdate %}
              <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No posts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-replies"><div class="webmentions webmentions--replies">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">
                {% if webmention.author.photo %}
                  <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                {% endif %}
                <b class="p-name">{{ webmention.author.name }}</b>
              </a>
            {% endif %}
            {% if webmention.pubdate and webmention.author %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No replies were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-reposts"><div class="webmentions webmentions--reposts">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No reposts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-rsvps"><div class="webmentions webmentions--rsvps">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="Avatar for {{ webmention.author.name }}" title="{{ webmention.author.name }}">
              <b class="p-name">{{ webmention.author.name }}</b>
              {{ webmention.content }}
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No RSVPs were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-count">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<span class="webmention-count"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>{{ count }}</span></template><template style="display:none" id="webmention-webmentions">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<div class="webmentions"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          <article class="h-cite webmention webmention--{{ webmention.type }}
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            {% if webmention.source=='twitter' %}{% if webmention.type=='like' or webmention.type=='repost' %}webmention--author-starts{% endif %}{% endif %}
            ">
            {% if webmention.author %}
              <div class="webmention__author p-author h-card">
                <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
                  {% if webmention.author.photo %}
                    <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                  {% endif %}
                  <b class="p-name">{{ webmention.author.name }}</b>
                </a>
              </div>
            {% endif %}

            <div class="webmention__content p-content">
              {% if webmention.content %}
                {{ webmention.content }}
              {% else %}
                {{ webmention.title }}
              {% endif %}
            </div>
            
            <div class="webmention__meta">
              {% if webmention.pubdate %}
                <time class="webmention__pubdate dt-published"
                      datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              {% endif %}
              {% if webmention.pubdate and webmention.url %}|{% endif %}
              {% if webmention.url %}
                <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">Permalink</a>
              {% endif %}
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div></template>
        <script src="/assets/js/theme-toggle.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
