<!doctype html>
<html>
    <head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    Blog
  </title>

  <link rel="stylesheet" href="/css/main.css">
  <link
    rel="canonical"
    href="https://ss.lucidillusions.in/blog/"
  />

   <link rel="stylesheet" href="/assets/node_modules/bluesky-comments/dist/bluesky-comments.css">


   <script type="importmap">
     {
       "imports": {
         "react": "https://esm.sh/stable/react@18.2.0/es2022/react.mjs",
         "react-dom": "https://esm.sh/stable/react-dom@18.2.0/es2022/react-dom.mjs"
       }
     }
    </script>


  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Muli:400,300"
    rel="stylesheet"
    type="text/css"
  />

  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" href="/assets/images/favicon.ico">

  <script src="https://kit.fontawesome.com/a2ede34d14.js" crossorigin="anonymous"></script>

  <link rel="dns-prefetch" href="https://webmention.io"><link rel="preconnect" href="https://webmention.io"><link rel="preconnect" href="ws://webmention.io:8080">

  <link type="application/atom+xml" rel="alternate" href="/feed.xml" title="Short Stories by Lucid Illusions">

  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-61GWSJVEWN"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-61GWSJVEWN");
</script>

</head>


    <body>
        <header class="site-header">
    <div class="header-wrapper">
        <div class="site-branding">
            <a class="site-title" href="/">
                <img src="/assets/images/logo.png" alt="Logo" class="site-logo">
            </a>
            <div class="site-description">
            </div>
        </div>

        <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>

        <nav class="site-nav">
            <ul class="nav-links">
                <li class="nav-item">
                    <a class="page-link" href="/blog/">Blogs</a>
                </li>

                <li class="nav-item">
                    <a class="page-link" href="/">Short Stories</a></li>

                <li class="dropdown nav-item">
                    <a class="page-link dropbtn" href="#" onclick="myFunction()">Buy E-book <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-content">
                        <li><a href="https://ko-fi.com/s/d33c50d04d" target="_blank" rel="noopener noreferrer">on Ko-Fi</a></li>
                        <li><a href="https://www.amazon.com/dp/B0F7HGSGCF" target="_blank" rel="noopener noreferrer">for Kindle</a></li>
                        <li><a href="https://books2read.com/b/mgB2Nq" target="_blank" rel="noopener noreferrer">Other Store</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

        <main>
            <article><div class="container">
    
      
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-09-29-sept2025/"
                >Through the September Curse: Monthly update</a
            >
        </h3>

        

        <time
            >Sep 30, 2025 • Lucid Illusions</time
        >
        <p>September has been a true mixed bag of a month. For a few years now, I’ve felt that September, in general, has been somewhat of a cursed month for me....</p>
        <a href="/blog/2025-09-29-sept2025/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-09-19-disappointment/"
                >Disappointment</a
            >
        </h3>

        

        <time
            >Sep 19, 2025 • Lucid Illusions</time
        >
        <p>I finally got myself to watch ‘Polite Society’ and what a great movie, it does stumble a little on technicality, but overall it’s a great watch! Anyway, while watching it...</p>
        <a href="/blog/2025-09-19-disappointment/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-09-11-journey/"
                >Creative Journey of Story Telling</a
            >
        </h3>

        

        <time
            >Sep 11, 2025 • Lucid Illusions</time
        >
        <p>I’ve often mentioned my long history of (attempt at) writing, so I thought I’d share one of my first poems. I still have access to it, and it was inspired...</p>
        <a href="/blog/2025-09-11-journey/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-09-02-IS/"
                >Writing with my Impostor Syndrome</a
            >
        </h3>

        

        <time
            >Sep 2, 2025 • Lucid Illusions</time
        >
        <p>I know the saying ‘Jack of all Trades, Master of none,’ but I have often rephrased the second half as “Master of the World.” This helps me stay positive and...</p>
        <a href="/blog/2025-09-02-IS/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-08-13-aug2025/"
                >Pitter-Patter and Progress: August Catchup</a
            >
        </h3>

        

        <time
            >Aug 30, 2025 • Lucid Illusions</time
        >
        <p>While my original plan was to share a mid-month update, the last month and a half have been a mixed bag of some great moments and some less-than-great ones. It’s...</p>
        <a href="/blog/2025-08-13-aug2025/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-07-27-tiger/"
                >Beyond the Stripes: International Tiger Day - 2025</a
            >
        </h3>

        

        <time
            >Jul 27, 2025 • Lucid Illusions</time
        >
        <p>Roar For Tigers
</p>
        <a href="/blog/2025-07-27-tiger/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-07-15-july2025/"
                >Rains and Ruminations: July's Postcard</a
            >
        </h3>

        

        <time
            >Jul 15, 2025 • Lucid Illusions</time
        >
        <p>The monsoon really brings out the Mumbai Spirit to the forefront. The crumbling infrastructure and waterlogging are just part of city life. Not something anyone wishes for, but something everyone...</p>
        <a href="/blog/2025-07-15-july2025/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-07-13-shunn/"
                >From Markdown to Manuscript: My Distraction-Free Writing Workflow</a
            >
        </h3>

        

        <time
            >Jul 13, 2025 • Lucid Illusions</time
        >
        <p>For years, I’ve chased the idea of writing with minimal distractions, much like I’d enjoy a typewriter – but without the wasted paper or the frustration of typos and reworking...</p>
        <a href="/blog/2025-07-13-shunn/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-06-23-june2025/"
                >Through June's Haze - Monthly Catch-up</a
            >
        </h3>

        

        <time
            >Jun 23, 2025 • Lucid Illusions</time
        >
        <p>Last month has been crazy packed, and a lot has happened. If you’d like to revisit last month’s catch-up post, check out How has May shaped up.
</p>
        <a href="/blog/2025-06-23-june2025/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-06-19-memory_future/"
                >It's For Your Future</a
            >
        </h3>

        

        <time
            >Jun 19, 2025 • Lucid Illusions</time
        >
        <p>Growing up, every time I got cash as a gift, it was deposited in my bank. I kept being told “It will help me in the future.” For the first...</p>
        <a href="/blog/2025-06-19-memory_future/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-06-10-apollo/"
                >Of Memories and Grief</a
            >
        </h3>

        

        <time
            >Jun 15, 2025 • Lucid Illusions</time
        >
        <p>The year hasn’t been the best one for us, and then June hit us with a grief bomb.
</p>
        <a href="/blog/2025-06-10-apollo/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-05-31-thoughts/"
                >Some Thoughts about AI & Writing</a
            >
        </h3>

        

        <time
            >May 31, 2025 • Lucid Illusions</time
        >
        <p>AI is in everything, everywhere all at once.
</p>
        <a href="/blog/2025-05-31-thoughts/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-05-23-siteupdates/"
                >Updates to the Website</a
            >
        </h3>

        
        <time
            class="updated-on-list"
            datetime="2025-06-22T15:30:00+05:30"
        >
            Updated on Jun 22, 2025
        </time>
        

        <time
            >May 23, 2025 • Lucid Illusions</time
        >
        <p>I’ve been using this site to compile my stories for a long time, and for just as long I’ve been meaning to learn more of Jekyll to add features and...</p>
        <a href="/blog/2025-05-23-siteupdates/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2025-05-22-may2025/"
                >How has May shaped up</a
            >
        </h3>

        

        <time
            >May 22, 2025 • Lucid Illusions</time
        >
        <p>We are a little over three weeks in May, and less than a week from my Birthday. It has been a spectrum of weird to interesting month. Weird because after...</p>
        <a href="/blog/2025-05-22-may2025/">Read More &rarr;</a>
    </div>
    
    <div class="blog-list-item">
        <h3>
            <a href="/blog/2024-08-02-ebooks/"
                >E-book and the Next set of stories</a
            >
        </h3>

        

        <time
            >Aug 2, 2024 • Lucid Illusions</time
        >
        <p>These short stories, started a year back in August of 2023, when I first asked Bluesky users to share a prompt. While my original idea was to write 100-200 word...</p>
        <a href="/blog/2024-08-02-ebooks/">Read More &rarr;</a>
    </div>
     
</div>
</article>
        </main>

        <footer>
    <p>&copy; 2023 - 2025 Stories by <a href="https://bsky.app/profile/lucidillusions.in" rel="me">Lucid Illusions</a> | <a href="https://github.com/lucidillusions" rel="me" title="GitHub"><i class="fa-brands fa-github"></i></a> | <a href="/feed.xml" title="RSS Feed"><i class="fa-solid fa-rss"></i></a> | <a href="https://bsky.app/profile/ss.lucidillusions.in" rel="me" title="BlueSky"><i class="fa-brands fa-bluesky"></i></a></p>

    
        <p>3163 souls have been to the Lost Alley.</p>
    

</footer>


        <button id="floating-theme-toggle" aria-label="Toggle dark mode">
            <i class="fa-regular fa-sun" id="theme-icon-sun"></i>
            <i
                class="fa-regular fa-moon"
                id="theme-icon-moon"
                style="display: none"
            ></i>
        </button>

        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <script>
            kofiWidgetOverlay.draw("lucidillusions", {
                type: "floating-chat",
                "floating-chat.donateButton.text": "Support me",
                "floating-chat.donateButton.background-color": "#00b9fe",
                "floating-chat.donateButton.text-color": "#fff",
            });
        </script>

        <script src="/js/JekyllWebmentionIO.js" async></script>
<template style="display:none" id="webmention-bookmarks"><div class="webmentions webmentions--bookmarks">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No bookmarks were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-likes"><div class="webmentions webmentions--likes">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No likes were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-links"><div class="webmentions webmentions--links">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">{{ webmention.author.name }}</a>
            {% endif %}
            {% if webmention.pubdate and webmention.url %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No links were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-posts"><div class="webmentions webmentions--posts">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <a class="webmention__title webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">{{ webmention.title }}</a>
          <div class="webmention__meta">
            {% if webmention.pubdate %}
              <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No posts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-replies"><div class="webmentions webmentions--replies">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__content p-content">
            {{ webmention.content }}
          </div>
          <div class="webmention__meta">
            {% if webmention.author %}
              <a class="webmention__author h-card u-url" href="{{ webmention.author.url }}" rel="nofollow">
                {% if webmention.author.photo %}
                  <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                {% endif %}
                <b class="p-name">{{ webmention.author.name }}</b>
              </a>
            {% endif %}
            {% if webmention.pubdate and webmention.author %}on{% endif %}
            {% if webmention.pubdate %}
              <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">
                <time class="webmention__pubdate dt-published" datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              </a>
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No replies were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-reposts"><div class="webmentions webmentions--reposts">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No reposts were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-rsvps"><div class="webmentions webmentions--rsvps">
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item webmention webmention--{{ webmention.type }}">
          <div class="webmention__author p-author h-card">
            <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
              <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="Avatar for {{ webmention.author.name }}" title="{{ webmention.author.name }}">
              <b class="p-name">{{ webmention.author.name }}</b>
              {{ webmention.content }}
            </a>
          </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No RSVPs were found.</p>
  {% endif %}
</div></template><template style="display:none" id="webmention-count">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<span class="webmention-count"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>{{ count }}</span></template><template style="display:none" id="webmention-webmentions">{% capture webmention_types %}{{ types | join: ',' }}{% endcapture %}
<div class="webmentions"{% unless webmention_types=="" %} data-webmention-types="{{ webmention_types }}"{% endunless %}>
  {% if webmentions.size > 0 %}
    <ol class="webmentions__list">
      {% for webmention in webmentions %}
        <li id="webmention-{{ webmention.id }}" class="webmentions__item">
          <article class="h-cite webmention webmention--{{ webmention.type }}
            {% unless webmention.author %}webmention--no-author{% endunless %}
            {% unless webmention.author.photo %}webmention--no-photo{% endunless %}
            {% if webmention.source=='twitter' %}{% if webmention.type=='like' or webmention.type=='repost' %}webmention--author-starts{% endif %}{% endif %}
            ">
            {% if webmention.author %}
              <div class="webmention__author p-author h-card">
                <a class="u-url" href="{{ webmention.author.url }}" rel="nofollow">
                  {% if webmention.author.photo %}
                    <img class="webmention__author__photo u-photo" src="{{ webmention.author.photo }}" alt="" title="{{ webmention.author.name }}">
                  {% endif %}
                  <b class="p-name">{{ webmention.author.name }}</b>
                </a>
              </div>
            {% endif %}

            <div class="webmention__content p-content">
              {% if webmention.content %}
                {{ webmention.content }}
              {% else %}
                {{ webmention.title }}
              {% endif %}
            </div>
            
            <div class="webmention__meta">
              {% if webmention.pubdate %}
                <time class="webmention__pubdate dt-published"
                      datetime="{{ webmention.pubdate | date: '%FT%T%:z' }}">{{ webmention.pubdate | date: '%d %B %Y' }}</time>
              {% endif %}
              {% if webmention.pubdate and webmention.url %}|{% endif %}
              {% if webmention.url %}
                <a class="webmention__source u-url" href="{{ webmention.url }}" rel="nofollow">Permalink</a>
              {% endif %}
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p class="webmentions__not-found">No webmentions were found.</p>
  {% endif %}
</div></template>
        <script src="/assets/js/theme-toggle.js"></script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
