<div class="webmentions-empty-state">
    <p>
        It looks a little quiet here!
        <br />
        No webmentions have been received for this post yet.
    </p>
    <p>
        Know about a mention, reply, or like?
        <br />
        Feel free to send one using your website!
    </p>
    <p class="webmentions-learn-more">
        <a
            href="https://indieweb.org/Webmention"
            target="_blank"
            rel="noopener noreferrer"
        >
            Learn more about Webmentions
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
    </p>
</div>
