---
layout: default
---

<article>
    <h2>{{ page.title }}</h2>
    <time datetime="{{ page.date | date_to_xmlschema }}"
        >{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{
        page.author }}{% endif %}</time
    >
    {% if page.updated_on %}
    <time
        class="updated-on"
        datetime="{{ page.updated_on | date_to_xmlschema }}"
    >
        (Updated on {{ page.updated_on | date: "%b %-d, %Y" }})
    </time>
    {% endif %} {{ content }}

    <hr />

    {% if page.comments %}
    <section class="post-comments">
        <h3>Online Discussions</h3>
        {% include comments-providers/custom.html %}
    </section>
    {% endif %}

    <hr />

    {% webmentions page.url %}

    <div class="post-navigation">
        <div class="prev">
            {% if page.previous %}
            <a
                href="{{ page.previous.url | prepend: site.baseurl }}"
                title="Previous: {{ page.previous.title }}"
            >
                <i class="fa-solid fa-circle-chevron-left"></i>
                {{ page.previous.title }}
            </a>
            {% endif %}
        </div>

        <div class="next">
            {% if page.next %}
            <a
                href="{{ page.next.url | prepend: site.baseurl }}"
                title="Next: {{ page.next.title }}"
            >
                {{ page.next.title }}
                <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
</article>
