---
layout: default
---

<div class="container">
    {% assign blog_documents = site.documents | where: "collection", "blogs" %}
    {% assign sorted_blogs = blog_documents | sort: "date" | reverse %} {% if
    sorted_blogs.size > 0 %} {% for blog in sorted_blogs %}
    <div class="blog-list-item">
        <h3>
            <a href="{{ blog.url | prepend: site.baseurl }}"
                >{{ blog.title }}</a
            >
        </h3>

        {% if blog.updated_on %}
        <time
            class="updated-on-list"
            datetime="{{ blog.updated_on | date_to_xmlschema }}"
        >
            Updated on {{ blog.updated_on | date: "%b %-d, %Y" }}
        </time>
        {% endif %}

        <time
            >{{ blog.date | date: "%b %-d, %Y" }}{% if blog.author %} • {{
            blog.author }}{% endif %}</time
        >
        <p>{{ blog.excerpt | strip_html | truncatewords: 30 }}</p>
        <a href="{{ blog.url | prepend: site.baseurl }}">Read More &rarr;</a>
    </div>
    {% endfor %} {% else %}
    <p>No blog posts found yet. Check back soon!</p>
    {% endif %}
</div>
