<!doctype html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}
        <main>
            <article>{{ content }}</article>
        </main>

        {% include footer.html %}

        <button id="floating-theme-toggle" aria-label="Toggle dark mode">
            <i class="fa-regular fa-sun" id="theme-icon-sun"></i>
            <i
                class="fa-regular fa-moon"
                id="theme-icon-moon"
                style="display: none"
            ></i>
        </button>

        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <script>
            kofiWidgetOverlay.draw("lucidillusions", {
                type: "floating-chat",
                "floating-chat.donateButton.text": "Support me",
                "floating-chat.donateButton.background-color": "#00b9fe",
                "floating-chat.donateButton.text-color": "#fff",
            });
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const menuToggle = document.querySelector(".menu-toggle");
                const siteNav = document.querySelector(".site-nav");

                if (menuToggle && siteNav) {
                    menuToggle.addEventListener("click", function () {
                        const isExpanded =
                            this.getAttribute("aria-expanded") === "true" ||
                            false;
                        this.setAttribute("aria-expanded", !isExpanded);
                        siteNav.classList.toggle("active");
                    });
                }

                // NEW JAVASCRIPT FOR POST TOGGLING
                const toggleButtons =
                    document.querySelectorAll(".toggle-button");

                toggleButtons.forEach((button) => {
                    button.addEventListener("click", function () {
                        const targetId = this.getAttribute("aria-controls");
                        const targetElement = document.getElementById(targetId);
                        const isExpanded =
                            this.getAttribute("aria-expanded") === "true";

                        if (targetElement) {
                            if (isExpanded) {
                                targetElement.style.display = "none";
                                this.setAttribute("aria-expanded", "false");
                            } else {
                                targetElement.style.display = "block";
                                this.setAttribute("aria-expanded", "true");
                            }
                        }
                    });
                });
            });
        </script>
        <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
        {% webmentions_js %}
    </body>
</html>
