<!doctype html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}
        <main>
            <article>{{ content }}</article>
        </main>

        {% include footer.html %}

        <button id="floating-theme-toggle" aria-label="Toggle dark mode">
            <i class="fa-regular fa-sun" id="theme-icon-sun"></i>
            <i
                class="fa-regular fa-moon"
                id="theme-icon-moon"
                style="display: none"
            ></i>
        </button>

        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <script>
            kofiWidgetOverlay.draw("lucidillusions", {
                type: "floating-chat",
                "floating-chat.donateButton.text": "Support me",
                "floating-chat.donateButton.background-color": "#00b9fe",
                "floating-chat.donateButton.text-color": "#fff",
            });
        </script>

        {% webmentions_js %}
        <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
        <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    </body>
</html>
