<!doctype html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}
        <main>
            <article>{{ content }}</article>
        </main>

        {% include footer.html %}
        <script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
        <script>
            kofiWidgetOverlay.draw("lucidillusions", {
                type: "floating-chat",
                "floating-chat.donateButton.text": "Support me",
                "floating-chat.donateButton.background-color": "#00b9fe",
                "floating-chat.donateButton.text-color": "#fff",
            });
        </script>

        {% webmentions_js %}
        <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    </body>
</html>
