---
layout: default
---

<article>
    <h2>{{ page.title }}</h2>
    <time>
        {{ page.date | date: "%b %-d, %Y" }} {% if page.categories and
        page.categories.size > 0 %} , {% comment %} Determine if it's "Category"
        or "Categories" {% endcomment %} {% if page.categories.size == 1
        %}Category:{% else %}Categories:{% endif %} {% comment %} Loop through
        each category and create a link {% endcomment %} {% for category in
        page.categories %}
        <a href="{{ '/category/' | relative_url }}{{ category | slugify }}/"
            >{{ category }}</a
        >{% unless forloop.last %}, {% endunless %} {% endfor %} {% endif %} {%
        if page.author %} • {{ page.author }}{% endif %} {% if page.meta %} • {{
        page.meta }}{% endif %}
    </time>

    {% if page.word_count %} {% assign reading_time = page.word_count |
    divided_by: 200.0 | ceil %}
    <div class="post-meta-info">
        Word count: <strong>{{ page.word_count }} words</strong> • Reading time:
        <strong>{{ reading_time }} min read</strong>
    </div>
    {% endif %}
    <hr />
    {{ content }}

    <hr />

    {% if page.comments %}
    <section class="post-comments">
        <h3>Online Discussions</h3>
        {% include comments-providers/custom.html %}
    </section>
    {% endif %}

    <hr />

    {% webmentions page.url %}

    <div class="post-navigation">
        <div class="prev">
            {% if page.previous %}
            <a
                href="{{ page.previous.url | prepend: site.baseurl }}"
                title="Previous: {{ page.previous.title }}"
            >
                <i class="fa-solid fa-circle-chevron-left"></i>
                {{ page.previous.title }}
            </a>
            {% endif %}
        </div>

        <div class="next">
            {% if page.next %}
            <a
                href="{{ page.next.url | prepend: site.baseurl }}"
                title="Next: {{ page.next.title }}"
            >
                {{ page.next.title }}
                <i class="fa-solid fa-circle-chevron-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
</article>
